.lists {
  position: relative;
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 1024px) {
  .lists {
    grid-template-columns: 1fr 0.8fr;
    align-items: flex-start;
    gap: 2rem;
    max-height: 80vh;
  }
}
